[submodule "Workspace/USBPDDemo/Core/Drivers/usb-pd"]
	path = Workspace/USBPDDemo/Core/Drivers/usb-pd
	url = https://github.com/Ralim/usb-pd.git
[submodule "Workspace/USBPDDemo_STM32F446/Core/Drivers/usb-pd"]
	path = Workspace/USBPDDemo_STM32F446/Core/Drivers/usb-pd
	url = ../../Ralim/usb-pd.git
